 .background-image{
    /* position: absolute;
    z-index: 0;
    top:0;*/
    padding-right: 100%;
    padding-bottom:15rem; 
    background-image: url("img/1_92adf06PCF91kCYu1nPLQg.jpeg");
    background-size: cover;
}
.img-thumbnail {
    /* position: relative;
    top: 9rem;
    left: 10rem; */
    width:10rem;
    height: 10rem;
    border-radius: 50%;
    padding-bottom:0;
}

.about {
    padding-top: 1rem;
    padding-left: 15%;
}

.container{
    position: relative;
    top: -70px;
}
.fa-pen{
    float: right;
    padding-top: 5rem;
    font-size: 1.5rem;
}
.dropdown{
    display: inline;
}
.doc-img{
    padding: 1.5rem 1rem;
}
.show-more{
    margin: 0 auto;
    background: none;
    border: none;
}
.fa-file-alt{
    position: absolute;
    padding: 0.5rem;
    right: 1rem;
    bottom: 0;
}

@media only screen and (max-width: 768px){
    .about {
        padding-left: 0;
    }
}
